@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@-viewport { width: device-width; scale: 1; }

html {
    box-sizing: border-box;
    
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
}

*, *::before, *::after {
    box-sizing: inherit;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, section, {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

input, select, textarea {
	outline: none;
}

/*-------------------------------------------------*
/* =  General Style
/*-------------------------------------------------*/
html {
	overflow: hidden;
}

body {
	font-family: arial;
	font-size: 12px;
	color: #666;
	background: #ededed;
}

a {
	text-decoration:none;
	transition: color 0.2s linear;
	-moz-transition: color 0.2s linear;
	-webkit-transition: color 0.2s linear;
	-o-transition: color 0.2s linear;
	outline: none;
}

h2 {
	position: relative;
	color: #619d21;
	font-size: 18px;
	height: 29px;
	line-height: 29px;
	margin: 21px 0px 2px 0px;
}

h2:before {
	content: '';
	position: absolute;
	height: 0px;
	border-bottom: 1px #0097FF;
	width: 20px;
	left: -33px;
	top: 14px;
}

p {
	color: #747474;
	font-size: 13px;
	line-height: 24px;
}

.clear-fix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clear-fix {
    zoom: 1;
}

#container {
	width: 800px;
	margin: auto;
}

#loading-container {
	position: absolute;
	left: 50%;
	margin-left: -400px;
	top: 179px;
	width: 800px;
	height: 2px;
	z-index: 999;
	background: #fff;
	display: none;
}

#loading {
	float: left;
	height: 2px;
	width: 0px;
	background: #0097FF;
}

/*-------------------------------------------------*
/* =  Header
/*-------------------------------------------------*/

#logo {
    padding: 15px 0px;
}

#header-inner {
	background: #fff;
	padding: 25px;
	overflow: hidden;
}

header nav {
	float: left;
}

#social-media {
	float: right;
}

#social-media li {
	float: left;
	margin-left: 10px;
}

#social-media li:first-child {
	margin-left: 0px;
}

#social-media a {
	display: block;
	text-align: center;
	width: 16px;
	height: 16px;
	line-height: 16px;
}

/*-------------------------------------------------*
/* =  Content
/*-------------------------------------------------*/
#content {
	margin-top: 20px;
	background: #fff;
	visibility: hidden;
	overflow: hidden;
}

/*-------------------------------------------------*
/* =  About
/*-------------------------------------------------*/
#about aside {
	float: left;
	width: 188px;
	padding: 25px 0px 20px 20px;
	border-right: 1px #939393;
}

#about #photo {
	position: relative;
	text-align: center;
	margin-right: 20px;
}

#about #photo img {
	width: 148px;
	height: 98px;
}

#about #photo:after {
	position: absolute;
	bottom: 0px;
	left: -6px;
}

#skills {
	margin-top: 20px;
}

#skills h3 {
	position: relative;
	text-transform: uppercase;
	color: #5f5f5f;
	font-size: 13px;
	height: 25px;
	line-height: 25px;
	font-weight: bold;
}

#skills h3 span {
	background: #fff;
	position: relative;
	padding-right: 10px;
}

#skills h3:before {
	content: '';
	position: absolute;
	top: 12px;
	left: 0px;
	right: 0px;
	height: 0px;
}

#skills ul {
	margin-right: 20px;
}

#skills li {
	position: relative;
	display: block;
	color: #878787;
	padding: 17px 0px 10px 0px;
}

#skills li:first-child {
	border-right: 0px #0097FF;
}

#skills div.progressbar {
	position: absolute;
	left: 0px;
	bottom: -3px;
	height: 5px;
	background: #0097FF;
}

#about .about-content {
	padding: 20px 33px;
	float: right;
	width: 524px;
	border-left: 1px #0097FF;
	position: relative;
	left: -1px;
}

#about .about-content h2:first-child,
#contact .left h2:first-child {
	margin-top: 0px !important;
}

#about .about-content blockquote {
	border-left: 2px solid #0097FF;
	border-right: 2px solid #0097FF;
	padding: 0px 16px;
	margin: 20px 0px;
	font-family: 'Times New Roman';
	color: #828282;
	line-height: 24px;
	font-size: 18px;
	font-style: italic;
}

#about .about-content ul {
	clear: both;
	margin-top: 8px;
}

#about .about-content li {
	float: left;
	width: 234px;
	padding-left: 28px;
	font-size: 11px;
	color: #5a5a5a;
	min-height: 16px;
	line-height: 16px;
	margin-bottom: 10px;
}